importFrom("elasticnet", "spca")
importFrom("FactoMineR","estim_ncp")
importFrom("methods", "new")
importFrom("stats", "as.formula", "median", "na.omit", "cor", "cov", "sd")
importFrom("utils", "head")
import(corpcor, graph, qpgraph, rrcov, survival, checkmate)
## exportPattern("^[[:alpha:]]+")
export(pathwaySurvivalTest, cliqueSurvivalTest,
       computeDays, computePCs, compPCs, topoCompPCs,
       sparseCompPCs, getTopLoadGenes)
